.mealSelection {
  display: flex;
  flex-direction: column;
  font: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: var(--text-color) 0.01em solid;
  text-decoration: none;
}
