.searchButton {
  color: var(--accent-color);
  background: var(--text-color);
  font-size: 0.9rem;
  border: var(--text-color) 0.01em solid;
  font-family: var(--font-family);
  height: 1.5em;
  border-radius: 0.1em;
}
