.searchButton {
  color: var(--text-color);
  background: var(--accent-color);
  font-size: 0.9rem;
  padding: 0.25em;
  border: var(--text-color) 0.01em solid;
  font-family: var(--font-family);
  height: 2em;
}
