.label {
  background: var(--background-color);
  color: var(--text-color);
}

.label__input {
  background: var(--background-color);
  border: none;
  border-bottom: var(--text-color) 0.1em solid;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 0.9rem;
  height: 1.5em;
}

.label__input::placeholder {
  color: var(--text-color);
  font-family: var(--font-family);
  opacity: 80%;
  font-size: 0.9rem;
}
