@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --font-family: 'Montserrat', sans-serif;

  /* COLORS */
  --text-color: #023047;
  --background-color: #f3f3f5;
  --accent-color: #fcbf5e;
  --breakfast-color: #fedaa9;
  --lunch-color: #fdcc84;
  --dinner-color: #fcbf5e;

  /* SIZES */
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}
