.container {
  display: grid;
  grid-template-rows: 0.5fr auto 3fr;
  opacity: 0.8;
  background: var(--breakfast-color);
  color: var(--text-color);
  border-radius: 1em;
  margin: 2em auto;
  padding: 1.5em;
}

.ingredients {
  font-size: 0.9em;
  grid-row: 2/3;
}

.instructions {
  font-size: 1em;
}
